<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hmall.fnd.mapper.FndGlobalvariantMapper">
    <resultMap id="BaseResultMap" type="com.hand.hmall.fnd.dto.FndGlobalvariant">
        <result column="GLOBALVARIANT_ID" property="globalvariantId" jdbcType="DECIMAL" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="VALUE" property="value" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>


</mapper>