<#include "/include/header.html"/>
<body>
<script src="${base.contextPath}/common/code?saleGroupOperator=HMALL.SALE_GROUP_OPERATOR&saleStatus=HMALL.SALE_STATUS&saleOverlay=HMALL.SALE_OVERLAY&typeLevel=HMALL.SALE_ACTIVITY_TYPE"
        type="text/javascript"></script>

<script>
    var viewModel = kendo.observable({
        model: {},
        containerFlag: 1,
        disabled: "false",
        groupLvl: 1,
        selectType: "ACTIVITY",
        type: "",
        resourceTypeData: [saleGroupOperator, saleStatus],

        submitResource: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        },
        returnResource: function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
            $('#grid').data('kendoGrid').dataSource.page(1);
        }

    });

    viewModel.model.set("activity", {});
    viewModel.model.activity.set('isOverlay', 'N');
    viewModel.model.activity.set('isExcludeShow', 'N');
    var id = '${RequestParameters.id}';
    var baseId = '${RequestParameters.baseId}';
    var type = '${RequestParameters.type}';

    var createType = 'CREATE';
    var editType = 'EDIT';
    var templateType = 'TEMPLATE';

    var addConditions = "ADD_CONDITIONS";
    var addActions = "ADD_ACTIONS";
    var addGroups = "ADD_GROUPS";
    var addContainers = "ADD_CONTAINERS";
</script>


<div id="content-container">
    <div class="panel" style="padding: 10px;">

        <div class="panel" style="padding: 0px;">
            <div class="panel-footer text-left">
                <span class="btn btn-success" id="query" onclick="submitResource()" type="submit"><i class="fa fa-plus"></i> 创建并启用</span>
                <span class="btn btn-primary" id="resetForm" onclick="returnResource()" type="button"><i class="fa fa-refresh"></i> 返回</span>

            </div>
        </div>

        <div id="tabStrip">
            <ul>
                <li id="tab_1">字段编辑</li>
                <li id="tab_2">条件与结果</li>
            </ul>
            <div>
                <div class="panel" style="padding: 4px;">

                    <form class="form-horizontal" id="baseInfo">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">规则ID</label>
                                        <div class="col-sm-8">
                                            <input id="activityId" disabled="true" style="background: rgb(222, 222, 222);width: 100%;" type="text" placeholder="规则ID" style="width: 100%"
                                                   data-bind="value:model.activity.activityId"
                                                   class="k-textbox">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">规则名称</label>
                                        <div class="col-sm-8">
                                            <input id="activityName" type="text" placeholder="规则名称" style="width: 100%" data-bind="value:model.activity.activityName"
                                                   class="k-textbox">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">规则描述</label>
                                        <div class="col-sm-8">
                                            <input id="activityDes" type="text" placeholder="规则描述" style="width: 100%" data-bind="value:model.activity.activityDes"
                                                   class="k-textbox">
                                        </div>
                                    </div>
                                </div>
                                <!-- type -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">级别</label>
                                        <div class="col-sm-8">
                                            <input id="type" data-bind="value:model.activity.type" style="width: 100%;" data-value-primitive="true"/>
                                            <script>
                                                viewModel.model.activity.type = 2;
                                                viewModel.model.type = 2;
                                                $("#type").kendoDropDownList({
                                                    dataSource: typeLevel,
                                                    dataTextField: "meaning",
                                                    dataValueField: "value",
                                                    change: function () {
                                                        viewModel.model.type = viewModel.model.activity.type;
                                                        if (viewModel.model.activity.type == 2) {
                                                            $('#priorityDiv').css("display", "block");
                                                            $('#activityGroupDiv').css("display", "block");
                                                            $('#isOverLayDiv').css("display", "block");
                                                        } else if (viewModel.model.activity.type == 1) {
                                                            $('#priorityDiv').css("display", "none");
                                                            $('#activityGroupDiv').css("display", "none");
                                                            $('#isOverLayDiv').css("display", "none");
                                                        }
                                                    }
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4" id="activityGroupDiv">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">规则组</label>
                                        <div class="col-sm-8">
                                            <input id="group" data-bind="value:model.activity.group" placeholder="规则组" style="width: 100%;" data-value-primitive="true"/>
                                            <script>
                                                viewModel.model.activity.group = 'DEFAULT';
                                                $("#group").kendoDropDownList({
                                                    dataTextField: "name",
                                                    dataValueField: "id",
                                                    select: function (e) {
                                                        var item = e.dataItem;
                                                        if (item.id == 'ADD_GROUP') {
                                                            addRuleGroup();
                                                        }
                                                    },
                                                    dataSource: {
                                                        transport: {
                                                            read: {
                                                                url: "${base.contextPath}/sale/range/group/queryByType?type=CREATE",
                                                                type: "GET"
                                                            }
                                                        },
                                                        schema: {
                                                            data: 'resp'
                                                        }
                                                    }
                                                });

                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">状态</label>
                                        <div class="col-sm-8">
                                            <input id="statusList" disabled="true" data-bind="value:model.activity.status" style="width: 100%;" data-value-primitive="true"/>
                                            <script>
                                                $("#statusList").kendoDropDownList({
                                                    dataSource: saleStatus,
                                                    dataTextField: "meaning",
                                                    dataValueField: "value"
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">前台提示消息</label>
                                        <div class="col-sm-8">
                                            <input id="pageShowMes" type="text" placeholder="前台提示消息" style="width: 100%" data-bind="value:model.activity.pageShowMes"
                                                   class="k-textbox">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">有效时间</label>
                                        <div class="col-sm-10">
                                            <input id="startDate" type="text" placeholder="有效开始时间" style="width: 45%" data-bind="value:model.activity.startDate">
                                            <a> 一 </a>
                                            <input id="endDate" type="text" placeholder="有效结束时间" style="width: 45%" data-bind="value:model.activity.endDate">

                                            <script>
                                                $("#startDate").kendoDateTimePicker({
                                                    animation: false,
                                                    format: "yyyy-MM-dd HH:mm:ss",
                                                    change: function () {
                                                        var startDate = $("#startDate").val();
                                                        $('#endDate').data('kendoDateTimePicker').min(startDate);
                                                    }
                                                });
                                                $("#endDate").kendoDateTimePicker({
                                                    animation: false,
                                                    format: "yyyy-MM-dd HH:mm:ss",
                                                    change: function () {
                                                        var endDate = $("#endDate").val();
                                                        $('#startDate').data('kendoDateTimePicker').max(endDate);
                                                    }
                                                });
                                            </script>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">创建时间</label>
                                        <div class="col-sm-8">
                                            <input id="creationTime" type="text" disabled="true" placeholder="创建时间" style="width: 100%" data-bind="value:model.activity.creationTime">
                                            <script>
                                                $("#creationTime").kendoDateTimePicker({
                                                    animation: false,
                                                    format: "yyyy-MM-dd HH:mm:ss"
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">上次创建时间</label>
                                        <div class="col-sm-8">
                                            <input id="lastCreationTime" type="text" disabled="true" placeholder="上次创建时间" style="width: 100%" data-bind="value:model.activity.lastCreationTime">
                                            <script>
                                                $("#lastCreationTime").kendoDateTimePicker({
                                                    animation: false,
                                                    format: "yyyy-MM-dd HH:mm:ss"
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" id="isOverLayDiv">
                                    <label class="col-sm-4 control-label">可堆叠</label>
                                    <div class="col-sm-8">
                                        <label class=" control-label">是</label>
                                        <input id="isOverlayYes" name="checkbox" type="redio" data-bind="enabled: isEnabled,value:model.activity.isOverlay"/>
                                        <a></a><a></a>
                                        <label class=" control-label">否</label>
                                        <input id="isOverlayNo" checked="checked" name="checkbox" type="redio" data-bind="enabled: isEnabled,value:model.activity.isOverlay"/>
                                        <script>
                                            $("#isOverlayYes").kendoCheckbox({
                                                checkedValue: 'Y',
                                                uncheckedValue: 'N'
                                            });
                                            $("#isOverlayNo").kendoCheckbox({
                                                checkedValue: 'N',
                                                uncheckedValue: 'Y'
                                            });
                                            kendo.bind($('#isOverlayYes'), viewModel);
                                            kendo.bind($('#isOverlayNo'), viewModel);
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" id="priorityDiv">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">优先级</label>
                                    <div class="col-sm-8">
                                        <input id="priority" type="text" placeholder="优先级" style="width: 100%" data-bind="value:model.activity.priority" >
                                        <script>
                                            $("#priority").kendoNumericTextBox({
                                                format: "n0",
                                                min: 0
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-sm-4">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-4 control-label">排除店面显示</label>-->
                            <!--<div class="col-sm-8">-->
                            <!--<label class=" control-label">是</label>-->
                            <!--<input id="isExcludeShowYes"   name="checkbox" type="redio" data-bind="enabled: isEnabled,value:model.activity.isExcludeShow"/>-->
                            <!--<a></a><a></a>-->
                            <!--<label class=" control-label">否</label>-->
                            <!--<input id="isExcludeShowNo" checked="checked" name="checkbox" type="redio" data-bind="enabled: isEnabled,value:model.activity.isExcludeShow"/>-->
                            <!--<script>-->
                            <!--$("#isExcludeShowYes").kendoCheckbox({-->
                            <!--checkedValue: 'Y',-->
                            <!--uncheckedValue: 'N'-->
                            <!--});-->
                            <!--$("#isExcludeShowNo").kendoCheckbox({-->
                            <!--checkedValue: 'N',-->
                            <!--uncheckedValue: 'Y'-->
                            <!--});-->
                            <!--kendo.bind($('#isExcludeShowYes'), viewModel);-->
                            <!--kendo.bind($('#isExcludeShowNo'), viewModel);-->
                            <!--</script>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </form>
                </div>
                <#include "/sale/record/saleRecord.html"/>
            </div>
            <div>
                <#include "/sale/conditions/saleConditionActionInclude.html"/>
            </div>
        </div>

    </div>
    <div id="addTempWin"></div>
    <div id="addTempConditionDataWin"></div>
    <div id="addTempActionDataWin"></div>
    <div id="productChooseWin"></div>
    <div id="productContainerWin"></div>
    <div id="areaChooseWin"></div>
    <div id="groupWin"></div>


    <script type="text/javascript">
        kendo.bind($('#content-container'), viewModel);

        var validator = $("#baseInfo").kendoValidator({

            invalidMessageType: "default"
            //errorTemplate: errorTemplate
        }).data("kendoValidator");

        if (type != createType) {
            var url = "";
            if (type == templateType) {
                url = "${base.contextPath}/sale/template/detail?id=" + id
            } else {
                url = "${base.contextPath}/drools/sale/activity/detail?id=" + id
            }
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    if (data.success) {
                        var resp = data.resp;
                        if (type == templateType) {
                            if (resp.length > 0) {
                                if (resp[0].template != undefined) {
                                    var template = resp[0].template;
                                    viewModel.model.activity.set('activityName', template.templateName);
                                    viewModel.model.activity.set('activityDes', template.templateDes);
                                    viewModel.model.activity.set('pageShowMes', template.pageShowMes);
                                    viewModel.model.activity.set('group', template.group);
//                                viewModel.model.activity.set('maxExecute', template.maxExecute);
                                    viewModel.model.set('containerFlag', resp[0].containerFlag);

                                    appendConditions(resp[0].conditions || [], resp[0].actions || [], resp[0].groups || [], resp[0].containers || [])
                                }
                            }
                        } else {
                            if (resp[0].activity != undefined) {
                                var activity = resp[0].activity;
                                viewModel.model.activity.set('activityId', activity.activityId);
                                viewModel.model.activity.set('activityName', activity.activityName);
                                viewModel.model.activity.set('activityDes', activity.activityDes);
                                viewModel.model.activity.set('priority', activity.priority);
                                viewModel.model.activity.set('pageShowMes', activity.pageShowMes);
                                viewModel.model.activity.set('group', activity.group);
                                viewModel.model.activity.set('status', activity.status);
                                viewModel.model.activity.set('type', activity.type);
                                viewModel.model.activity.set('isOverlay', activity.isOverlay);
                                viewModel.model.activity.set('isExcludeShow', activity.isExcludeShow);
                                viewModel.model.activity.set('startDate', timeToDate(activity.startDate));
                                viewModel.model.activity.set('endDate', timeToDate(activity.endDate));
                                viewModel.model.activity.set('creationTime', timeToDate(activity.creationTime));
                                viewModel.model.activity.set('lastCreationTime', timeToDate(activity.lastCreationTime));
                                viewModel.model.set('containerFlag', resp[0].containerFlag);

                                appendConditions(resp[0].conditions || [], resp[0].actions || [], resp[0].groups || [], resp[0].containers || [])
                            }
                        }
                    } else {
                        kendo.ui.showErrorDialog({
                            title: "错误",
                            message: data.msg
                        })
                    }
                }
            })
        } else {
            var today = new Date();
            viewModel.model.activity.set('startDate', new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), today.getMinutes(), today.getMilliseconds()));
            viewModel.model.activity.set('endDate', new Date(2099, today.getMonth(), today.getDate(), today.getHours(), today.getMinutes(), today.getMilliseconds()));

        }


        function addTemplateRow() {
            var onClose = function () {
                $("#addTempWin").empty();
            };

            $("#addTempWin").kendoWindow({
                actions: ["Close"],
                title: '模板编辑',
                draggable: true,
                height: "80%",
                width: "50%",
                close: onClose,
                content: "${base.contextPath}/sale/saleTemplateCondition.html",
                iframe: true,
                modal: true
            });

            var win = $("#addTempWin").data("kendoWindow");
            win.center().open();
            win.toggleMaximization();
        }

        function addRuleGroup() {

            var onClose = function () {
                $("#groupWin").empty();
                $('#group').data('kendoDropDownList').dataSource.read();

                viewModel.model.activity.group = 'DEFAULT';
                $('#group').data('kendoDropDownList').text("默认分组");


            };

            $("#groupWin").kendoWindow({
                actions: ["Close"],
                title: '分组编辑',
                draggable: true,
                height: "80%",
                width: "50%",
                close: onClose,
                content: "${base.contextPath}/sale/activity/saleGroupActivity.html",
                iframe: true,
                modal: true
            });

            var win = $("#groupWin").data("kendoWindow");
            win.center().open();
            win.toggleMaximization();
        }

        function submitAjax() {
            $('#query').removeAttr("onclick");
            $('#query').attr("disabled", "true");

            $.ajax({
                url: "${base.contextPath}/drools/sale/activity/submit",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(viewModel.model),
                success: function (data) {
                    if (data.success) {
                        viewModel.model.activity.set("activityId", data.resp[0].activityId);
                        viewModel.model.activity.set("creationTime", timeToDate(data.resp[0].creationTime));
                        viewModel.model.activity.set("lastCreationTime", timeToDate(data.resp[0].lastCreationTime));
                        baseId = data.resp[0].activityId;

                        kendo.ui.showInfoDialog({
                            title: "提示",
                            message: "保存成功！"
                        }).done(function (e) {
                            $('#query').removeAttr("disabled");
//                        tabStrip.select(0);
//                        $('#gridRecord').data('kendoGrid').dataSource.query();
                            window.parent.$("#editActivityWin").data("kendoWindow").close();

                        })
                    } else {
                        kendo.ui.showErrorDialog({
                            title: "提示",
                            message: data.msg
                        }).done(function (e) {
                            $('#query').attr("onclick", "submitResource()");
                            $('#query').removeAttr("disabled");
                        })
                    }
                }
            })
        }


        function submitResource() {

            viewModel.model.set("groups", groups_data);
            viewModel.model.set("containerFlag", viewModel.model.containerFlag || 1);
            var validator = $("#baseInfo").data("kendoValidator");
            if (validator.validate()) {
                var type = viewModel.model.activity.type;
                var pageShowMessage = viewModel.model.activity.pageShowMes;
                var desp = viewModel.model.activity.activityDes;
                if (type == null) {
                    kendo.ui.showInfoDialog({
                        message: "<@spring.message '级别不能为空！'/>"
                    })
                    return;
                } else if (type == '2' && viewModel.model.activity.priority == null) {
                    kendo.ui.showInfoDialog({
                        message: "<@spring.message '商品层级优先级不能为空！'/>"
                    })
                    return;
                }
                if(desp==null||desp.trim().length ==0){
                    kendo.ui.showInfoDialog({
                        message: "<@spring.message '规则描述不能为空！'/>"
                    })
                    return;
                }

                if(pageShowMessage==null||pageShowMessage.trim().length ==0){
                    kendo.ui.showInfoDialog({
                        message: "<@spring.message '前台提示消息不能为空！'/>"
                    })
                    return;
                }
                var conditions = viewModel.model.conditions;
                var container = viewModel.model.containers;

                if (conditions != undefined && conditions.length > 0 || container != undefined && container.length > 0) {
                    console.log("----------submit 1----------")
                    submitAjax();
                } else {
                    kendo.ui.showWarningDialog({
                        title: "警告",
                        message: "当前未设定条件，确定还要提交吗?",
                        buttons: [{
                            text: "确定",
                            type: 'primary',
                            click: function (e) {
                                submitAjax();
                                e.dialog.destroy();
                            }
                        }, {
                            text: "取消",
                            type: 'default',
                            click: function (e) {
                                e.dialog.destroy();
                            }
                        }]
                    })
                }
            }
        }

        function returnResource() {
            kendo.ui.showConfirmDialog({
                title: "提示",
                message: "是否放弃当前的规则录入?"
            }).done(function (e) {
                if (e.button == 'OK') {
                    window.parent.$("#editActivityWin").data("kendoWindow").close();
                }
            })
        }

        var activityTab = $('#tab_1');
        var tabStrip = $("#tabStrip").kendoTabStrip({
            animation: {
                close: {
                    duration: 200,
                    effects: "fadeOut"
                }
            }
        }).data("kendoTabStrip");
        tabStrip.activateTab(activityTab);


    </script>
</body>
</html>