<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hmall.mapper.FabricMapper">
  <resultMap id="BaseResultMap" type="com.hand.hmall.model.Fabric">
    <id column="FABRIC_ID" jdbcType="DECIMAL" property="fabricId" />
    <result column="FABRIC_CODE" jdbcType="VARCHAR" property="fabricCode" />
    <result column="FABRIC_LEVEL" jdbcType="VARCHAR" property="fabricLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    FABRIC_ID, FABRIC_CODE, FABRIC_LEVEL
  </sql>
</mapper>