<#--
        * description: 配置属性值导入导出界面
        * version: 1.0
        * author: zhangheng04@hand-china.com
        *
        *
-->
<#include "../include/header.html">
    <body>
    <script>
        viewModel = kendo.observable({
            model            : {}
        });
    </script>
    <div id="content-container">
        <div id="page-content">
            <div class="panel" style="padding:0px;">
                <form class="form-horizontal">
                    <div class="panel-body">
                        <div class="row">
                            <input type="file" name="files" id="importExcelFile">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <span id="errorMessage"></span>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <a class="btn btn-success" id="download" onclick="downloadExcel()"  type="submit">下载模板</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var baseUrl = "${base.contextPath}/markor/hand/hap/itemCode";
        $("#importExcelFile").kendoUpload({
            async:{
                saveUrl: baseUrl+"/upload?${_csrf.parameterName}=${_csrf.token}",
                autoUpload: false
            },
            multiple: false,
            localization: {
                select: "请选择文件",
                uploadSelectedFiles: "上传",
                headerStatusUploading: "上传中...",
                headerStatusUploaded: "文件上传成功!"
            },
            error:function (e) {
                kendo.ui.showInfoDialog({
                    title: '提示信息',
                    message: '导入失败!'
                });
            },
            success:function (e) {
                if(e.response.success){
                    kendo.ui.showInfoDialog({
                        title: '提示信息',
                        message: '添加成功'
                    }).done(function (event) {
                        if (event.button == 'OK') {
                            window.parent.$("#excelWindow").data("kendoWindow").close();
                            window.parent.$("#codeGrid").data("kendoGrid").dataSource.page(1);
                        }
                    })
                }else{
                    kendo.ui.showErrorDialog({
                        title: '提示信息',
                        message: '导入失败!<br/>'
                    }).done(function (event) {
                        $("#errorMessage").html('<h5>失败信息:</h5><br/>' + e.response.message)
                    });

                }
            }
        });

        function downloadExcel() {
            var form = $("<form>");   //定义一个form表单
            form.attr('style', 'display:none');   //在form表单中添加查询参数
            form.attr('target', '');
            form.attr('method', 'GET');
            form.attr('action', baseUrl+"/download");
            $('body').append(form);  //将表单放置在web中
            form.submit();
        }

        function uploadExcel(){
            $.ajax({
                url:baseUrl +"/upload",
                type:"POST",
                success:function (data) {
                    if(data.success){
                        alert("成功");
                    }else{
                        alert("失败");
                    }

                }
            });
        }
    </script>
    </body>
    </html>