<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hmall.as.mapper.SwapOrderMapper">
    <resultMap id="BaseResultMap" type="com.hand.hmall.as.dto.SwapOrder">
        <result column="RECEIPT_ORDER_ID" property="receiptOrderId" jdbcType="DECIMAL"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="RECEIPT_TYPE" property="receiptType" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SV_CATEGORY1" property="svCategory1" jdbcType="VARCHAR"/>
        <result column="SV_CATEGORY2" property="svCategory2" jdbcType="VARCHAR"/>
        <result column="SALES_CODE" property="salesCode" jdbcType="VARCHAR"/>
        <result column="SHIPPING_TYPE" property="shippingType" jdbcType="VARCHAR"/>
        <result column="COMPLAINT" property="complaint" jdbcType="VARCHAR"/>
        <result column="NOTE" property="note" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="LINKS_CODE" property="linksCode" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="CS" property="cs" jdbcType="VARCHAR"/>
        <result column="FINISH_TIME" property="finishTime" jdbcType="DATE"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="SYNCFLAG" property="syncflag" jdbcType="VARCHAR"/>
        <result column="APPOINTMENT_DATE" property="appointmentDate" jdbcType="DATE"/>
        <result column="EXECUTION_DATE" property="executionDate" jdbcType="DATE"/>
        <result column="TECHNICIAN_NAME" property="technicianName" jdbcType="VARCHAR"/>
        <result column="IS_CHARGE" property="isCharge" jdbcType="VARCHAR"/>
        <result column="USER_GROUP" property="userGroup" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="LOGISTICS_NUMBER" property="logisticsNumber" jdbcType="VARCHAR"/>
        <result column="RETURN_FEE" property="returnFee" jdbcType="VARCHAR"/>
        <result column="CHANGE_REASON" property="changeReason" jdbcType="VARCHAR"/>
        <result column="OA_CHANGE_CODE" property="oaChangeCode" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="productMap" type="com.hand.hmall.mst.dto.Product">
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CATALOGVERSION_ID" property="catalogversionId"
                jdbcType="DECIMAL"/>
        <result column="APPROVAL_STATUS" property="approvalStatus"
                jdbcType="VARCHAR"/>
        <result column="IMAGE_URL_ID" property="imageUrlId" jdbcType="DECIMAL"/>
        <result column="IMAGEURL" property="imageUrl" jdbcType="DECIMAL"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="IS_SIN_SALE" property="isSinSale" jdbcType="VARCHAR"/>
        <result column="SALE_STATUS" property="saleStatus" jdbcType="VARCHAR"/>
        <result column="PRODUCT_STATUS" property="productStatus"
                jdbcType="VARCHAR"/>
        <result column="IS_SPE_SALE" property="isSpeSale" jdbcType="VARCHAR"/>
        <result column="SYNCFLAG" property="syncflag" jdbcType="VARCHAR"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE"/>
        <result column="CATALOGVERSION" property="catalogversion" jdbcType="VARCHAR"/>
        <result column="BASE_PRICE" property="basePrice" jdbcType="DECIMAL"/>
    </resultMap>

    <!--查询换货单详细信息-->
    <select id="selectSwapOrderById" parameterType="com.hand.hmall.as.dto.SwapOrder"
            resultMap="BaseResultMap">
        SELECT
        receipt.RECEIPT_ORDER_ID,
        receipt.CODE,
        receipt.STATUS,
        receipt.LINKS_CODE,
        receipt.SV_CATEGORY1,
        receipt.SV_CATEGORY2,
        receipt.SALES_CODE,
        receipt.SHIPPING_TYPE,
        receipt.COMPLAINT,
        receipt.NOTE,
        receipt.IS_CHARGE,
        receipt.SYNCFLAG,
        receipt.USER_ID,
        receipt.NAME,
        receipt.MOBILE,
        receipt.ADDRESS,
        receipt.CS,
        receipt.FINISH_TIME,
        receipt.CREATION_DATE,
        ug.NAME USER_GROUP,
        receipt.APPOINTMENT_DATE,
        receipt.EXECUTION_DATE,
        receipt.LOGISTICS_NUMBER,
        receipt.RETURN_FEE,
        receipt.OA_CHANGE_CODE,
        receipt.CHANGE_REASON
        FROM HMALL_AS_RECEIPT receipt
        LEFT JOIN HMALL_MST_USER_MAPPING um ON receipt.USER_ID = um.USER_ID
        LEFT JOIN HMALL_MST_USERGROUP ug ON um.USERGROUP_ID = ug.USERGROUP_ID
        <where>
            <if test="receiptOrderId != null">
                receipt.RECEIPT_ORDER_ID = #{receiptOrderId}
            </if>
        </where>
    </select>

    <select id="queryProduct" parameterType="com.hand.hmall.mst.dto.ProductCategory" resultMap="productMap">
        SELECT
        a.PRODUCT_ID,
        a.CODE,
        a.NAME,
        b.BASE_PRICE
        FROM HMALL_MST_PRODUCT a
        LEFT JOIN HMALL_MST_PRICEROW b on b.PRODUCT_ID = a.PRODUCT_ID
        <where>
            <if test="categoryCode !=null and categoryCode!=''and categoryCode!='undefined'">
                upper(a.CODE) LIKE upper('%'||#{categoryCode}||'%')
            </if>
            <if test="categoryName !=null and categoryName!=''and categoryName!='undefined'">
                a.NAME LIKE '%'||#{categoryName}||'%'
            </if>
        </where>
    </select>
</mapper>