<#--
        * description: 服务单增加订单行页面
        * author:zhangmeng01@markor.com.cn
        * 2017/7/18
        * version: 0.1
        -->
    <#include "../include/header.html">
        <script type="text/javascript">
            //订单ID
            var orderId = "${RequestParameters.orderId!0}";
            var code = "${RequestParameters.code!0}";
        </script>
        <body>
        <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
            <span class="btn btn-primary k-grid-add" style="margin-right:5px;margin-top: 10px;margin-bottom: 10px;margin-left: 5px" onclick="addOrderEnrty()"><@spring.message "添加"/></span>
        </div>
        <div style="clear:both">
            <div id="orderEntryGrid"></div>
        </div>
        </body>
        <script>
            var BaseUrl = _basePath;
            var orderEntries = [];
            var parentOrderEntries = window.parent.serviceOrderEntries;
            $(function () {
                $.ajax({
                    url: BaseUrl + "/hmall/om/order/entry/queryInfoNoPage?orderId=" + orderId,
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        for (var i in result.rows) {
                            orderEntries.push(result.rows[i]);
                        }
                        refreshServiceOrderEntryGrid();
                    }
                });
            });

            var _grid_ = $("#orderEntryGrid").kendoGrid({
                height: 370,
                resizable: true,
                navigatable: true,
                scrollable: true,
                selectable: 'multiple, rowbox',
                rownumber: true,
                sortable: true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "orderEntryId",
                        title: '订单行ID',
                        width: 120,
                        hidden:true
                    },
                    {
                        field: "lineNumber",
                        title: '原订单行序号',
                        width: 120
                    }, {
                        field: "productCode",
                        title: '商品编码',
                        width: 120
                    }, {
                        field: "name",
                        title: '商品描述',
                        width: 120
                    },
                    {
                        field: "vproductCode",
                        title: '<@spring.message "hmall.OrderEntry.vproduct"/>',
                        width: 120
                    }, {
                        field: "suitCode",
                        title: '<@spring.message "hmall.OrderEntry.suitCode"/>',
                        width: 120
                    }, {
                        field: "basePrice",
                        title: '<@spring.message "hmall.OrderEntry.basePrice"/>',
                        format: "{0:n2}",
                        width: 80
                    }, {
                        field: "discountFee",
                        title: '<@spring.message "hmall.OrderEntry.discountFee"/>',
                        format: "{0:n2}",
                        width: 80
                    }, {
                        field: "quantity",
                        title: '<@spring.message "hmall.OrderEntry.quantity"/>',
                        width: 80
                    }, {
                        field: "unitFee",
                        title: '<@spring.message "hmall.OrderEntry.unitFee"/>',
                        format: "{0:n2}",
                        width: 80
                    }, {
                        field: "isGift",
                        title: '<@spring.message "hmall.OrderEntry.isGift"/>',
                        width: 80
                    }
                ],
                editable: false
            }).data("kendoGrid");

            //根据父页面传来的数据判断是否显示
            function refreshServiceOrderEntryGrid() {
                for (var i in parentOrderEntries) {
                    for (var j in orderEntries) {
                        if (parentOrderEntries[i].productId == orderEntries[j].productId) {
                            orderEntries.splice(jQuery.inArray(orderEntries[j], orderEntries), 1);
                        }
                    }
                }
                var _dataSource_ = new kendo.data.DataSource({
                    data: orderEntries
                });
                //重置数据源
                _grid_.setDataSource(_dataSource_);
            }

            //保存选中的订单行
            function addOrderEnrty() {
                kendo.ui.showConfirmDialog({
                    title: $l('hap.tip.info'),
                    message: $l('是否添加选择的服务单行？')
                }).done(function (event) {
                    if (event.button == 'OK') {
                        var selections = $("#orderEntryGrid").data("kendoGrid").selectedDataItems();
                        window.parent.chooseOrderentry(selections);
                        kendo.ui.showInfoDialog({
                            message: "<@spring.message 'hmall.save.success'/>"
                        });
                        window.parent.$("#orderEntryDialogEdit").data("kendoWindow").close();
                    }
                })
            }
        </script>