<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hmall.mapper.HmallMstUserGroupMapper">
  <resultMap id="BaseResultMap" type="com.hand.hmall.dto.HmallMstUserGroup">
    <id column="USERGROUP_ID" jdbcType="DECIMAL" property="usergroupId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SYNCFLAG" jdbcType="VARCHAR" property="syncflag" />
    <result column="OBJECT_VERSION_NUMBER" jdbcType="DECIMAL" property="objectVersionNumber" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
    <result column="PROGRAM_APPLICATION_ID" jdbcType="DECIMAL" property="programApplicationId" />
    <result column="PROGRAM_ID" jdbcType="DECIMAL" property="programId" />
    <result column="PROGRAM_UPDATE_DATE" jdbcType="TIMESTAMP" property="programUpdateDate" />
    <result column="REQUEST_ID" jdbcType="DECIMAL" property="requestId" />
    <result column="ATTRIBUTE_CATEGORY" jdbcType="VARCHAR" property="attributeCategory" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
    <result column="ATTRIBUTE6" jdbcType="VARCHAR" property="attribute6" />
    <result column="ATTRIBUTE7" jdbcType="VARCHAR" property="attribute7" />
    <result column="ATTRIBUTE8" jdbcType="VARCHAR" property="attribute8" />
    <result column="ATTRIBUTE9" jdbcType="VARCHAR" property="attribute9" />
    <result column="ATTRIBUTE10" jdbcType="VARCHAR" property="attribute10" />
    <result column="ATTRIBUTE11" jdbcType="VARCHAR" property="attribute11" />
    <result column="ATTRIBUTE12" jdbcType="VARCHAR" property="attribute12" />
    <result column="ATTRIBUTE13" jdbcType="VARCHAR" property="attribute13" />
    <result column="ATTRIBUTE14" jdbcType="VARCHAR" property="attribute14" />
    <result column="ATTRIBUTE15" jdbcType="VARCHAR" property="attribute15" />
  </resultMap>

  <sql id="Base_Column_List">
    USERGROUP_ID, CODE, NAME, SYNCFLAG, OBJECT_VERSION_NUMBER, CREATION_DATE, CREATED_BY, 
    LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, PROGRAM_APPLICATION_ID, PROGRAM_ID, 
    PROGRAM_UPDATE_DATE, REQUEST_ID, ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
    ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
    ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
  </sql>

  <!--通过code查询对象-->
  <select id="selectBycode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from HMALL_MST_USERGROUP
    where CODE = #{Code,jdbcType=VARCHAR}
  </select>
</mapper>