<#include "/include/header.html"/>
<body>

<script>
    var viewModel = kendo.observable({
        model:{}
    });

    var id='${RequestParameters.id}';
    var value='';
    var front='';
    var definitionId='${RequestParameters.definitionId}';
    var disabled='${RequestParameters.disabled}';


    for(var i in window.parent.viewModel.model.actions)
    {
        if(window.parent.viewModel.model.actions[i].id==id)
        {
            definitionId=window.parent.viewModel.model.actions[i].definitionId;

            if(window.parent.viewModel.model.actions[i].parameters!=undefined) {
                if(window.parent.viewModel.model.actions[i].parameters.value!=undefined)
                {
                    value=window.parent.viewModel.model.actions[i].parameters.value.value;
                    front=window.parent.viewModel.model.actions[i].parameters.value.front;
                }

            }

            break;
        }
    }

    if(value!=null&&value!=undefined&&value!="")
    {
        viewModel.model.value =value;
    }
    if(front!=null&&front!=undefined&&front!="")
    {
        viewModel.model.front =front;
    }

</script>


<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;">
            <form class="form-horizontal" id="conditionForm">
                <div class="panel-body">
                    <div class="row">





                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="frontLabel" class="col-sm-4 control-label">计划件数</label>
                                <div class="col-sm-8">
                                    <input id="front" disabled="true" type="text" style="width: 100%" data-bind="value:model.front">
                                    <script>

                                        if(disabled!=='true')
                                        {
                                            $('#front').removeAttr("disabled");
                                        }
                                        $("#front").kendoNumericTextBox({
                                            format: "n0",
                                            min: 0
                                        })

                                    </script>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="change" class="col-sm-4 control-label">减免价格</label>
                                <div class="col-sm-8">
                                    <input id="value" disabled="true" type="text" style="width: 100%" data-bind="value:model.value">
                                    <script>

                                        if(disabled!=='true')
                                        {
                                            $('#value').removeAttr("disabled");
                                        }

                                        if(definitionId=='o_front_rate')
                                        {
                                            $('#change').text('减免折扣');
                                            $("#value").kendoNumericTextBox({
                                                format: "n",
                                                min:0
                                            });
                                        }else {
                                            $("#value").kendoNumericTextBox({
                                                format: "c",
                                                min: 0
                                            })
                                        }

                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div class="panel-footer text-right">
                <span class="btn btn-success" disabled="true" id="query"  type="submit"><i class="glyphicon glyphicon-ok"></i> 确定</span>
                <span class="btn btn-primary"  id="resetForm" onclick="rollbackWin()" type="button"><i class="fa fa-refresh"></i>返回</span>
                <script>
                    if(disabled!="true"){
                        $('#query').removeAttr("disabled");
                        $('#query').attr("onclick","saveFrontAction()");
                    }
                </script>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    kendo.bind($('#content-container'),viewModel);
    kendo.bind($('#page-content'),viewModel);

    function saveFrontAction()
    {
        window.parent.saveFrontAction(viewModel.model,id);
        rollbackWin();
    }

    function rollbackWin(){
        window.parent.$("#addTempActionDataWin").data("kendoWindow").close();
    }


</script>
</body>
</html>