<#--
        * description: 发货单列表
        * author:sunrui
        * 2017/6/8
        * version: 0.1
        *
        -->
    <#include "/include/header.html">

        <script src="${base.contextPath}/common/code?product_Order_Type=ORDER.TYPE" type="text/javascript"></script>
        <script src="${base.contextPath}/common/code?product_Order_PICK_UP_GOODS_WAY=ORDER.PICK_UP_GOODS_WAY" type="text/javascript"></script>
        <script src="${base.contextPath}/common/code?product_Order_INVOICE_TYPE=INVOICE.TYPE" type="text/javascript"></script>
        <script src="${base.contextPath}/common/code?product_Order_State=CONSIGNMENT.STATUS" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
        <style type="text/css">
            #forms .condition_forms{float:left;width:auto;height:36px; margin-left: 10px;padding-bottom:10px;}
            #forms .condition_forms label{width:7em;text-align:right; font-size:auto;}
            #forms .condition_forms input{width:200px;}
        </style>
        <body>
        <script type="text/javascript">
            var maps;
            var maps2;
            //equal
            var orderStatus_ = [];
            var orderStyle__ = [];
            var distribution = [];
            var afterSell___ = [];

            var map={orderStatus_:orderStatus_,orderStyle__:orderStyle__,distribution:distribution,afterSell___:afterSell___};

            var viewModel = kendo.observable({
                model: {},
                resourceTypeData: [product_Order_Type,product_Order_PICK_UP_GOODS_WAY,product_Order_INVOICE_TYPE,product_Order_State],
                resetForm: function (e) {
                    var formData = viewModel.model.toJSON();
                    for (var k in formData) {
                        if(k!="productCatalog"){
                            viewModel.model.set(k, null);
                        }else{
                            viewModel.model.set(k,'UniqloCatalog-online');
                        }
                    };
                    //清空按钮
                    $("#all_empty").attr("class","btn btn-primary");
                    $(".aChild").attr("class","btn btn-default btn-xs aChild");
                    map={orderStatus_:[],orderStyle__:[],distribution:[],afterSell___:[]};
                    $("#distribution_PICKUP").attr("disabled", false);
                    $("#distribution_EXPRESS").attr("disabled", false);

                }
            });
        </script>

        <script type="text/javascript">
            function isClicked2(z){
                if($(z).attr("class")=="btn btn-primary"){  //如果当前是清空状态，执行全选操作
                    $(z).attr("class","btn btn-primary active");
                    $(".aChild").attr("class","btn btn-default btn-xs aChild active");
                    var aChild = $(".aChild");
                    for(var ii=0;ii<aChild.length;ii++){
                        var subName = aChild.eq(ii).attr("id").substring(0,12);
                        map[subName].push(aChild.eq(ii).attr("id").substring(13));
                    }
                }else{       //如果当前是全选状态，执行清空操作
                    $(z).attr("class","btn btn-primary");
                    $(".aChild").attr("class","btn btn-default btn-xs aChild");
                    map={orderStatus_:[],orderStyle__:[],distribution:[],afterSell___:[]};
                }
            }

            function selects(z){
                if($(z).attr("class")=="btn btn-default btn-xs aChild"){
                    $(z).attr("class","btn btn-default btn-xs aChild active");

                    var subValue=$(z).attr("id").substring(13);
                    if( $(z).attr("id") == 'orderStatus__WAIT_SELLER_SEND_GOODS__PICKUP'){     //选中已付款，选中门店自提
                        //获取代发货是否被选中   （选中true，没有选中false）
                        var express_Pitch_On=$("#orderStatus__WAIT_SELLER_SEND_GOODS__EXPRESS").attr("class")=="btn btn-default btn-xs aChild active";
                        if(!express_Pitch_On){
                            $("#distribution_EXPRESS").attr("class","btn btn-default btn-xs aChild").blur();
                            $.each(map["distribution"],function(index,item){
                                map["distribution"].splice(index,1);
                            });
                        }

                        $("#distribution_PICKUP").addClass('active');
                        var subName = $("#distribution_PICKUP").attr("id").substring(0,12);
                        map[subName].push($("#distribution_PICKUP").attr("id").substring(13));

                        subValue="WAIT_SELLER_SEND_GOODS";
                        $("#distribution_PICKUP").attr("disabled", true);
                        $("#distribution_EXPRESS").attr("disabled", true);
                    }
                    if( $(z).attr("id") == 'orderStatus__WAIT_SELLER_SEND_GOODS__EXPRESS'){    //选中待发货，选中快递配送
                        //获取已付款是否被选中   （选中true，没有选中false）
                        var prickup_Pitch_On=$("#orderStatus__WAIT_SELLER_SEND_GOODS__PICKUP").attr("class")=="btn btn-default btn-xs aChild active";
                        if(!prickup_Pitch_On){
                            $("#distribution_PICKUP").attr("class","btn btn-default btn-xs aChild").blur();
                            $.each(map["distribution"],function(index,item){
                                map["distribution"].splice(index,1);
                            });
                        }

                        $("#distribution_EXPRESS").addClass('active');
                        var subName = $("#distribution_EXPRESS").attr("id").substring(0,12);
                        map[subName].push($("#distribution_EXPRESS").attr("id").substring(13));
                        subValue="WAIT_SELLER_SEND_GOODS";
                        $("#distribution_PICKUP").attr("disabled", true);
                        $("#distribution_EXPRESS").attr("disabled", true);
                    }
                    var subName = $(z).attr("id").substring(0,12);
                    map[subName].push(subValue);
                }else{
                    $(z).attr("class","btn btn-default btn-xs aChild").blur();
                    var subName = $(z).attr("id").substring(0,12);
                    var val_=$(z).attr("id").substring(13);
                    if(val_=="WAIT_SELLER_SEND_GOODS__PICKUP"){     //选中已付款，选中门店自提
                        val_="WAIT_SELLER_SEND_GOODS";
                        $.each(map["distribution"],function(index,item){
                            map["distribution"].splice(index,1);
                        });
                        $("#distribution_PICKUP").attr("class","btn btn-default btn-xs aChild").blur();
                    }
                    if(val_=="WAIT_SELLER_SEND_GOODS__EXPRESS"){
                        val_="WAIT_SELLER_SEND_GOODS";
                        $.each(map["distribution"],function(index,item){
                            map["distribution"].splice(index,1);
                        });
                        $("#distribution_EXPRESS").attr("class","btn btn-default btn-xs aChild").blur();
                    }

                    //获取门店自提是否被选中   （选中true，没有选中false）
                    var prickup_Pitch_On=$("#orderStatus__WAIT_SELLER_SEND_GOODS__PICKUP").attr("class")=="btn btn-default btn-xs aChild active";
                    //获取快递配送是否被选中   （选中true，没有选中false）
                    var express_Pitch_On=$("#orderStatus__WAIT_SELLER_SEND_GOODS__EXPRESS").attr("class")=="btn btn-default btn-xs aChild active";
                    if(!prickup_Pitch_On&&!express_Pitch_On){
                        $("#distribution_PICKUP").attr("disabled", false);
                        $("#distribution_EXPRESS").attr("disabled", false);
                    }

                    $.each(map[subName],function(index,item){
                        // index是索引值（即下标）   item是每次遍历得到的值；
                        if(item==val_){
                            map[subName].splice(index,1);
                            return;
                        }
                    });

                }
            }
            function doSubmit(){
                if($('#grid').data('kendoGrid').dataSource.options.data!=null){
                    $('#grid').data('kendoGrid').setDataSource(dataSource);
                }else{
                    $('#grid').data('kendoGrid').dataSource.page(1);
                }
                return true;
            }
            function audit(){
                var checked = $('#grid').data('kendoGrid').selectedDataItems();
                if(checked.length == 0){
                    kendo.ui.showInfoDialog({
                        message : "<@spring.message '至少选择一条数据！'/>"
                    })
                }else {
                    kendo.ui.showConfirmDialog({
                        title: $l('hap.tip.info'),
                        message: $l("<@spring.message 'hap.ok'/>?")
                    }).done(function (event) {
                        if (event.button == 'OK') {
                            $.ajax({
                                type: 'POST',
                                url: '${base.contextPath}/hmall/om/consignment/updatestatus',
                                dataType: "json",
                                contentType: "application/json",
                                data: kendo.stringify(checked),
                                success: function (data) {
                                    console.log(data);
                                    if (data.success == false) {
                                        kendo.ui.showErrorDialog({
                                            message: data.message
                                        });
                                    }
                                    // location.reload();
                                }
                            });
                        }
                    })
                }
            }
        </script>

        <!-- 加载该页面中的按钮条件 -->
        <script type="text/javascript">
            $(function(){
                //创建订单状态的按钮
                var list_state=viewModel.resourceTypeData[3];
                for ( var st in list_state) {
                    $("#orderStatus_td").append("<button id='orderStatus__"+list_state[st].value+"' type='button' class='btn btn-default btn-xs aChild' style='float:left;margin-left: 5px;' onclick= 'selects(this);'>"+list_state[st].meaning+"</button>");
                }
                //创建配送方式按钮
                var List_distribution=viewModel.resourceTypeData[1];
                for (var st in List_distribution) {
                    $("#distribution_td").append("<button id='distribution_"+List_distribution[st].value+"' type='button' class='btn btn-default btn-xs aChild' style='float:left;margin-left: 5px;' onclick= 'selects(this);'>"+List_distribution[st].meaning+"</button>");
                }
            });
        </script>
        <div id="page-content">
            <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                <span id class="btn btn-primary" style="float:left;margin-right:5px;" onclick="exportData()">导出</span>
                <span id class="btn btn-primary" style="float:left;margin-right:5px;" onclick="audit()">审核</span>
            </div>

            <div  id="query-form" style="padding-bottom:10px;clear: both;padding-bottom:10px;">
                <div id="forms" style="padding-bottom: 20px">
                    <div class="condition_forms">
                        <label> 快递公司:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.logisticsCompanies" class="k-textbox">
                    </div>
                    <div class="condition_forms">
                        <label> 快递单号:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.logisticsNumber" class="k-textbox">
                    </div>
                    <div class="condition_forms">
                        <label> 收货人手机号:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.receiverMobile" class="k-textbox">
                    </div>
                    <div class="condition_forms">
                        <label> 收货人省:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.receiverState" class="k-textbox">
                    </div>
                    <div class="condition_forms">
                        <label> 收货人市:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.receiverCity" class="k-textbox">
                    </div>
                    <div class="condition_forms">
                        <label> 发货单号:</label>
                        <input class="equalChild" data-role="maskedtextbox" placeholder='' type="text"  data-bind="value:model.code" class="k-textbox">
                    </div>

                    <div class="condition_forms">
                        <label> 下单日期从:</label>
                        <input id="startTime" class="rangeChild" data-bind="value:model.startTime" style="width:200px"/>
                    </div>
                    <div class="condition_forms">
                        <label> 至:</label>
                        <input id="endTime" class="rangeChild" data-bind="value:model.endTime" style="width:200px"/>
                    </div>
                </div>

                <script>
                    kendo.bind($('#forms'), viewModel);
                </script>

                <div id="selects">
                    <table class="table">
                        <tr>
                            <td style="width:100px;"><label style="margin-left:20px"> 单据状态:</label></td>
                            <td id="orderStatus_td">
                            </td>
                        </tr>
                        <tr id="distribution_tr_hide_shwo">
                            <td><label style="margin-left:20px"> 配送方式:</label></td>
                            <td id="distribution_td">
                            </td>
                        </tr>
                    </table>
                </div>
                <script>
                    kendo.bind($('#selects'), viewModel);
                </script>
            </div>

            <div style="clear:both;margin-top: -20px;height:50px;">
                <span class="btn btn-primary" style="float:left;width:70px;"  onclick="doSubmit();" type="submit"><@spring.message "hap.query"/></span>
                <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:resetForm" type="reset"><@spring.message "hap.reset"/></span>
                <span id="all_empty" class="btn btn-primary" style="float:left;width:90px;" onclick="isClicked2(this);" style="float:right;margin-right: 5px;">全选/清空</span>
            </div>

            <div>
                <div id="grid"></div>
            </div>
        </div>
        <form id="form_ExportExcle" action="${base.contextPath}/om/order/exportData" method="GET" >
            <input type="hidden" id="orderId" name="orderId" value="">
            <input type="hidden" id="userId" name="userId" value="">
            <input type="hidden" id="receiverMobile" name="receiverMobile" value="">
            <input type="hidden" id="exportStartTime" name="startTime" value="">
            <input type="hidden" id="exportEndTime" name="endTime" value="">
            <input type="hidden" id="strOrderStatus" name="strOrderStatus" value="">
            <input type="hidden" id="strDistribution" name="strDistribution" value="">
            <input type="hidden" id="vproduct" name="vproduct" value="">
            <input type="hidden" id="productId" name="productId" value="">
        </form>
        <script type="text/javascript">
            kendo.bind($('#page-content'), viewModel);
            //导出列表excel
            function exportData() {
                var equalChild = $(".equalChild");
                //订单编号
                if(equalChild.eq(0).val!=""){
                    $('#orderId').val(equalChild.eq(0).val());
                }
                //用户ID
                if(equalChild.eq(1).val!=""){
                    $('#userId').val(equalChild.eq(1).val());
                }
                //收货人手机号
                if(equalChild.eq(2).val!=""){
                    $('#receiverMobile').val(equalChild.eq(2).val());
                }
                //变式物料号
                if(equalChild.eq(3).val!=""){
                    $('#vproduct').val(equalChild.eq(3).val());
                }
                //商品编码
                if(equalChild.eq(4).val!=""){
                    $('#productId').val(equalChild.eq(4).val());
                }
                //开始时间
                var exportStartTime = $("#startTime").data("kendoDateTimePicker");
                $('#exportStartTime').val(exportStartTime.value());
                //结束时间
                var exportEndTime = $("#endTime").data("kendoDateTimePicker");
                $('#exportEndTime').val(exportEndTime.value());
                //订单状态
                $('#strOrderStatus').val(orderStatus_);
                //配送方式
                $('#strDistribution').val(distribution);
                $("#form_ExportExcle").submit();
            }


            $('#query-form input').keydown(function (e) {
                if (e.keyCode == 13) {
                    e.target.blur();
                    viewModel.queryFunction(e);
                }
            });

            $("#startTime").kendoDateTimePicker({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                format: "yyyy-MM-dd HH:mm:ss",
                change: function(){
                    var startTime = $("#startTime").val();
                    var endFinal = $("#endTime").data("kendoDateTimePicker");
                    endFinal.min(startTime || new Date(1800,0,1));
                }
            });

            $("#endTime").kendoDateTimePicker({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                format: "yyyy-MM-dd HH:mm:ss",
                change: function(){
                    var endTime = $("#endTime").val();
                    var startFinal = $("#startTime").data("kendoDateTimePicker");
                    startFinal.max(endTime || new Date(2099,11,31));
                }
            });

            var crudServiceBaseUrl = '${base.contextPath}',
                dataSource = new kendo.data.DataSource({
                    transport : {
                        read : {
                            url : crudServiceBaseUrl + "/hmall/om/consignment/queryAll",
                            type    : "POST",
                            dataType: "json"
                        },
                        parameterMap: function (options, type) {
                            if (type !== "read" && options.models) {
                                var datas = Hap.prepareSubmitParameter(options, type)
                                return kendo.stringify(datas);
                            } else if (type === "read") {
                                
                                var pages=Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                               /* maps={status:map,pages:pages};
                                var post={data:JSON.stringify(maps)};*/
                               console.log(map.orderStatus_);
                                console.log(viewModel.model);
                                return pages;
                            }
                        }
                    },
                    batch       : true,
                    serverPaging: true,
                    serverSorting: true,
                    pageSize    : 10,
                    schema: {
                        data: 'rows',
                        total: 'total',
                        model: {
                            id: "orderId",
                            fields: {}
                        }
                    }
                });

            var grid = $("#grid");
            var grid__=$("#grid").kendoGrid({
                dataSource : dataSource,
                height: "400px",
                pageable : true,
                resizable: true,
                editable  : false,
                navigatable: true,
                scrollable: true,
                selectable: 'multiple, rowbox',
                sortable: true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 10
                },
                columns: [{
                    field : "consignmentId",
                    title : '序号',
                    attributes : {
                        style : "text-align:center"
                    },
                    width : 50,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    },
                    template : "<span class='row-number'></span>"
                },{
                    field: "orderId",
                    title: '订单编号',
                    attributes : {
                        style : "text-align:center"
                    },
                    template: function(dataItem){
                        if(dataItem.orderId!=null&&dataItem.orderId!=''){
                            return '<a style="margin-right:10px;" href="javascript:void(0);" onclick="entryFunction(\''+dataItem.consignmentId+'\')">'+dataItem.orderId+'</a>'
                        }
                        return '';
                    },
                    width: 130,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "code",
                    title: '发货单号',
                    attributes: {style: "text-align:center"},
                    template: function(dataItem){
                        if(dataItem.code!=null&&dataItem.code!=''){
                            return '<a style="margin-right:10px;" href="javascript:void(0);" onclick="entryFunction(\''+dataItem.consignmentId+'\')">'+dataItem.consignmentId+'</a>'
                        }return '';
                    },
                    width: 130,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    },
                }, {
                    field: "status",
                    title: '发货单状态',
                    attributes: {style: "text-align:center"},
                    width: 90,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "logisticsNumber",
                    title: '快递单号',
                    attributes: {style: "text-align:center"},
                    width: 110,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "receiverName",
                    title: '收货人',
                    attributes: {style: "text-align:center"},
                    width: 70,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "receiverMobile",
                    title: '收货人手机号',
                    attributes: {style: "text-align:center"},
                    width: 110,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                },{
                    field: "shippingType",
                    title: '配送方式',
                    attributes: {style: "text-align:center"},
                    width: 120,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                },{
                    field: "logisticsCompanies",
                    title: '快递公司',
                    attributes: {style: "text-align:center"},
                    width: 70,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "receiverAddress",
                    title: '收货人地址',
                    attributes: {style: "text-align:center"},
                    width: 80,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "",
                    title: '当前节点',
                    attributes: {style: "text-align:center"},
                    width: 90,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }, {
                    field: "",
                    title: '查看物流',
                    attributes: {style: "text-align:center"},
                    width: 150,
                    headerAttributes : {
                        "class" : "table-header-cell",
                        style : "text-align: center"
                    }
                }],
                dataBound : function() {
                    var rows = this.items();
                    var page = this.pager.page() - 1;
                    var pagesize = this.pager.pageSize();
                    $(rows).each(
                        function() {
                            var index = $(this).index() + 1 + page * pagesize;
                            var rowLabel = $(this).find(".row-number");
                            $(rowLabel).html(index);
                        });
                }
            }).data("kendoGrid");


            //跳到详情界面
            function entryFunction(consignmentId){

                window.top.openTab(consignmentId,consignmentId,"${base.contextPath}/om/consignment_detail.html?consignmentId="+consignmentId);
            }

            function openDetail(orderId) {
                var url = crudServiceBaseUrl+"/order/orderDetailExpress.html?orderId="+orderId;
                var dialog = $("#dialogEdit").kendoWindow({
                    width: 1050,
                    height: 550,
                    title: '订单管理[订单详情-'+orderId+']',
                    visible: false,
                    iframe: true,
                    modal: true,
                    content: url
                }).data("kendoWindow");
                dialog.maximize();
                dialog.open();
            };

            //自动根据当前屏幕大小调整表格
            Hap.autoResizeGrid("#grid");
        </script>
        <div id="dialogEdit" style="display:none;"></div>
        </body>
        </html>