<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <import resource="process-spring-hmall.xml"/>

    <import resource="classpath*:spring/plugins/*.xml"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <!-- 获得导入路径 -->
    <bean id="getUploadFilePath" class="com.hand.hmall.util.GetUploadFilePath">
        <property name="uploadFilePath" value="D://upload/"/>
    </bean>

    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:/hap.properties</value>
            </list>
        </property>
    </bean>

    <!-- 将nfs图片分组路径装载成bean -->
    <bean id="imagePathNamesProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:/image-path-names.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties"/>
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <!-- add by zhangwantao, for 扫描configurations包下的Component-->
    <context:component-scan base-package="**.configurations"/>

    <!-- add by chenzhigang 工作流相关 -->
    <context:component-scan base-package="com.hand.hmall.activites"/>

    <!-- add by zhangwantao on 2017/10/10, for MAG-1334-->
    <bean id="jobConcurrentManager" class="com.hand.common.job.JobConcurrentManager"></bean>
</beans>