<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hmall.om.mapper.EntryTypeMappingMapper">
  <resultMap id="BaseResultMap" type="com.hand.hmall.om.dto.EntryTypeMapping">
    <id column="MAPPING_ID" jdbcType="DECIMAL" property="mappingId" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="ENTRY_TYPE" jdbcType="VARCHAR" property="entryType" />
    <result column="STOCKUP_PERCENT" jdbcType="DECIMAL" property="stockupPercent" />
  </resultMap>
  <sql id="Base_Column_List">
    MAPPING_ID, PRODUCT_TYPE, ENTRY_TYPE, STOCKUP_PERCENT
  </sql>
</mapper>