<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hmall.om.mapper.OmAbnormaltypeMapper">
    <resultMap id="BaseResultMap" type="com.hand.hmall.om.dto.OmAbnormaltype">
        <result column="ABNORMALTYPE_ID" property="abnormaltypeId" jdbcType="DECIMAL" />
        <result column="ABNORMAL_TYPE" property="abnormalType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="APPROVEDTIMES" property="approvedtimes" jdbcType="DECIMAL" />
        <result column="ABNORMALREASON" property="abnormalreason" jdbcType="VARCHAR" />
        <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
    </resultMap>


</mapper>