<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.hmall.om.mapper.OrderBkMapper">
  <resultMap id="BaseResultMap" type="com.hand.hmall.om.dto.OrderBk" extends="com.hand.hap.mapper.StdMapper.STD">
    <id column="ORDER_ID" jdbcType="DECIMAL" property="orderId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ESC_ORDER_CODE" jdbcType="VARCHAR" property="escOrderCode" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CURRENCY_ID" jdbcType="VARCHAR" property="currencyId" />
    <result column="WEBSITE_ID" jdbcType="VARCHAR" property="websiteId" />
    <result column="SALECHANNEL_ID" jdbcType="VARCHAR" property="salechannelId" />
    <result column="STORE_ID" jdbcType="VARCHAR" property="storeId" />
    <result column="PAYMENT_AMOUNT" jdbcType="DECIMAL" property="paymentAmount" />
    <result column="SHIPPING_TYPE" jdbcType="VARCHAR" property="shippingType" />
    <result column="DISCOUNT_FEE" jdbcType="DECIMAL" property="discountFee" />
    <result column="ORDER_CREATIONTIME" jdbcType="TIMESTAMP" property="orderCreationtime" />
    <result column="BUYER_MEMO" jdbcType="VARCHAR" property="buyerMemo" />
    <result column="IS_INVOICED" jdbcType="VARCHAR" property="isInvoiced" />
    <result column="INVOICE_TYPE" jdbcType="VARCHAR" property="invoiceType" />
    <result column="INVOICE_NAME" jdbcType="VARCHAR" property="invoiceName" />
    <result column="INVOICE_URL" jdbcType="VARCHAR" property="invoiceUrl" />
    <result column="POST_FEE" jdbcType="DECIMAL" property="postFee" />
    <result column="EPOST_FEE" jdbcType="DECIMAL" property="epostFee" />
    <result column="FIX_FEE" jdbcType="DECIMAL" property="fixFee" />
    <result column="PRE_POSTFEE" jdbcType="DECIMAL" property="prePostfee" />
    <result column="PRE_EPOSTFEE" jdbcType="DECIMAL" property="preEpostfee" />
    <result column="PRE_FIXFEE" jdbcType="DECIMAL" property="preFixfee" />
    <result column="ORDER_AMOUNT" jdbcType="DECIMAL" property="orderAmount" />
    <result column="TOTALCON" jdbcType="VARCHAR" property="totalcon" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="RECEIVER_COUNTRY" jdbcType="VARCHAR" property="receiverCountry" />
    <result column="RECEIVER_STATE" jdbcType="VARCHAR" property="receiverState" />
    <result column="RECEIVER_CITY" jdbcType="VARCHAR" property="receiverCity" />
    <result column="RECEIVER_DISTRICT" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="RECEIVER_ADDRESS" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="RECEIVER_ZIP" jdbcType="VARCHAR" property="receiverZip" />
    <result column="RECEIVER_MOBILE" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ESTIMATE_DELIVERY_TIME" jdbcType="TIMESTAMP" property="estimateDeliveryTime" />
    <result column="ESTIMATE_CON_TIME" jdbcType="TIMESTAMP" property="estimateConTime" />
    <result column="PAY_RATE" jdbcType="VARCHAR" property="payRate" />
    <result column="SYNCFLAG" jdbcType="VARCHAR" property="syncflag" />
    <result column="PAY_STATUS" jdbcType="VARCHAR" property="payStatus" />
    <result column="SPLIT_ALLOWED" jdbcType="VARCHAR" property="splitAllowed" />
    <result column="LOCKED" jdbcType="VARCHAR" property="locked" />
    <result column="COUPON_FEE" jdbcType="DECIMAL" property="couponFee" />
    <result column="TOTAL_DISCOUNT" jdbcType="DECIMAL" property="totalDiscount" />
    <result column="CHOSEN_COUPON" jdbcType="VARCHAR" property="chosenCoupon" />
    <result column="CHOSEN_PROMOTION" jdbcType="VARCHAR" property="chosenPromotion" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>

  <resultMap id="OrderBkMap" type="com.hand.hmall.om.dto.OrderBk">
    <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL"/>
    <result column="CODE" property="code" jdbcType="VARCHAR"/>
    <result column="LOCKED" property="locked" jdbcType="VARCHAR"/>
    <result column="ESC_ORDER_CODE" property="escOrderCode" jdbcType="VARCHAR"/>
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR"/>
    <result column="STATUS" property="orderSta" jdbcType="VARCHAR"/>
    <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
    <result column="RECEIVER_NAME" property="receiverName" jdbcType="VARCHAR"/>
    <result column="RECEIVER_MOBILE" property="receiverMobile" jdbcType="VARCHAR"/>
    <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="VARCHAR"/>
    <result column="ORDER_AMOUNT" property="orderAmount" jdbcType="VARCHAR"/>
    <result column="ESTIMATE_DELIVERY_TIME" property="estimateDeliveryTime" jdbcType="DATE"/>
    <result column="ENTRY_QUANTITY" property="quantity" jdbcType="VARCHAR"/>
    <result column="SHIPPING_TYPE" property="shippingType" jdbcType="VARCHAR"/>
    <result column="customerid" property="customerid" jdbcType="VARCHAR"/>
    <result column="ORDER_CREATIONTIME" property="orderCreationtime" jdbcType="DATE" />
    <result column="HISTORY_TOTAL_REFUND_AMOUNT" property="historyTotalRefundAmount" jdbcType="DECIMAL" />
  </resultMap>

  <resultMap id="resultInfoMap" type="com.hand.hmall.om.dto.OrderBk">
    <id column="ORDER_ID" jdbcType="DECIMAL" property="orderId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ESC_ORDER_CODE" jdbcType="VARCHAR" property="escOrderCode" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CURRENCY_ID" jdbcType="VARCHAR" property="currencyId" />
    <result column="WEBSITE_ID" jdbcType="VARCHAR" property="websiteId" />
    <result column="SALECHANNEL_ID" jdbcType="VARCHAR" property="salechannelId" />
    <result column="STORE_ID" jdbcType="VARCHAR" property="storeId" />
    <result column="PAYMENT_AMOUNT" jdbcType="DECIMAL" property="paymentAmount" />
    <result column="ORDER_AMOUNT" jdbcType="DECIMAL" property="orderAmount" />
    <result column="DISCOUNT_FEE" jdbcType="DECIMAL" property="discountFee" />
    <result column="ORDER_CREATIONTIME" jdbcType="TIMESTAMP" property="orderCreationtime" />
    <result column="BUYER_MEMO" jdbcType="VARCHAR" property="buyerMemo" />
    <result column="IS_INVOICED" jdbcType="VARCHAR" property="isInvoiced" />
    <result column="INVOICE_TYPE" jdbcType="VARCHAR" property="invoiceType" />
    <result column="INVOICE_NAME" jdbcType="VARCHAR" property="invoiceName" />
    <result column="INVOICE_URL" jdbcType="VARCHAR" property="invoiceUrl" />
    <result column="POST_FEE" jdbcType="DECIMAL" property="postFee" />
    <result column="FIX_FEE" jdbcType="DECIMAL" property="fixFee" />
    <result column="TOTALCON" jdbcType="VARCHAR" property="totalcon" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="RECEIVER_COUNTRY" jdbcType="VARCHAR" property="receiverCountry" />
    <result column="RECEIVER_STATE" jdbcType="VARCHAR" property="receiverState" />
    <result column="RECEIVER_CITY" jdbcType="VARCHAR" property="receiverCity" />
    <result column="RECEIVER_DISTRICT" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="RECEIVER_ADDRESS" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="RECEIVER_ZIP" jdbcType="VARCHAR" property="receiverZip" />
    <result column="RECEIVER_MOBILE" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ESTIMATE_DELIVERY_TIME" jdbcType="TIMESTAMP" property="estimateDeliveryTime" />
    <result column="ESTIMATE_CON_TIME" jdbcType="TIMESTAMP" property="estimateConTime" />
    <result column="PAY_RATE" jdbcType="VARCHAR" property="payRate" />
    <result column="SYNCFLAG" jdbcType="VARCHAR" property="syncflag" />
    <result column="PAY_STATUS" jdbcType="VARCHAR" property="payStatus" />
    <result column="SPLIT_ALLOWED" jdbcType="VARCHAR" property="splitAllowed" />
    <result column="SHIPPING_TYPE" jdbcType="VARCHAR" property="shippingType" />
  </resultMap>

  <sql id="Base_Column_List">
    ORDER_ID, CODE, ESC_ORDER_CODE, ORDER_STATUS, USER_ID, CURRENCY_ID, WEBSITE_ID, SALECHANNEL_ID, 
    STORE_ID, PAYMENT_AMOUNT, SHIPPING_TYPE, DISCOUNT_FEE, ORDER_CREATIONTIME, BUYER_MEMO, 
    IS_INVOICED, INVOICE_TYPE, INVOICE_NAME, INVOICE_URL, POST_FEE, EPOST_FEE, FIX_FEE, 
    PRE_POSTFEE, PRE_EPOSTFEE, PRE_FIXFEE, ORDER_AMOUNT, TOTALCON, RECEIVER_NAME, RECEIVER_COUNTRY, 
    RECEIVER_STATE, RECEIVER_CITY, RECEIVER_DISTRICT, RECEIVER_ADDRESS, RECEIVER_ZIP, 
    RECEIVER_MOBILE, RECEIVER_PHONE, ESTIMATE_DELIVERY_TIME, ESTIMATE_CON_TIME, PAY_RATE, 
    SYNCFLAG, PAY_STATUS, SPLIT_ALLOWED,LOCKED, COUPON_FEE, TOTAL_DISCOUNT,
    CHOSEN_COUPON, CHOSEN_PROMOTION, VERSION
  </sql>

  <!--查询订单列表-->
  <select id="selectOrderBkList" resultMap="OrderBkMap">
      SELECT a.order_id,
--       a.order_type,
      a.code,
      a.shipping_type,
      a.esc_order_code,
      a.order_status status,
      mu.customerid,
      a.receiver_name,
      a.receiver_mobile,
      a.payment_amount,
      a.order_amount,
      a.estimate_con_time,
      a.estimate_delivery_time,
      a.ORDER_CREATIONTIME,
      a.locked,
      p.HISTORY_TOTAL_REFUND_AMOUNT,
      b.ENTRY_QUANTITY
      FROM   hmall_om_order_bk a
      LEFT   JOIN (SELECT oe.order_id, sum(oe.quantity) AS ENTRY_QUANTITY
      FROM hmall_om_order_entry oe
      GROUP BY oe.ORDER_ID) b
      ON     a.order_id = b.order_id
      LEFT   JOIN hmall_mst_user mu
      ON     mu.user_id = a.user_id
      LEFT JOIN (SELECT order_id,
      sum(refund_amount) AS HISTORY_TOTAL_REFUND_AMOUNT
      FROM hmall_om_paymentinfo
      GROUP BY order_id) p
      ON p.ORDER_ID = a.ORDER_ID
      <where>
        a.SYNCFLAG='N'
        <if test="code !=null and code!=''and code!='undefined'">
          and a.CODE LIKE '%'||#{code}||'%'
        </if>
        <if test="escOrderCode !=null and escOrderCode!=''and escOrderCode!='undefined'">
          and a.esc_order_code LIKE '%'||#{escOrderCode}||'%'
        </if>
        <if test="userId !=null and userId!=''and userId!='undefined'">
          and mu.customerid LIKE '%'||#{userId}||'%'
        </if>
        <if test="locked !=null and locked!=''and locked!='undefined'">
          and a.locked = #{locked}
        </if>
        <choose>
          <when test="payRate !=null and payRate!=''and payRate==1">
            and a.pay_rate = '1'
          </when>
          <when test="payRate !=null and payRate!=''and payRate!=1">
            and a.pay_rate <![CDATA[ <> ]]> '1'
          </when>
        </choose>

        <if test="receiverMobile !=null and receiverMobile!=''and receiverMobile!='undefined'">
          and a.RECEIVER_MOBILE LIKE '%'||#{receiverMobile}||'%'
        </if>
        <if test="startTime !=null and startTime!=''and startTime!='undefined'">
          and to_char(a.order_creationtime, 'yyyy-mm-dd hh24:mi:ss')&gt;#{startTime}
        </if>
        <if test="endTime !=null and endTime!=''and endTime!='undefined'">
          and to_char(a.order_creationtime, 'yyyy-mm-dd hh24:mi:ss')&lt;#{endTime}
        </if>
        <if test="strOrderStatus != null and strOrderStatus.length != 0">
          and(
          <foreach collection="strOrderStatus" item="Status" index="index" open="" separator="or" close="">
            a.ORDER_STATUS = #{Status}
          </foreach>
          )
        </if>
        <if test="strDistribution != null and strDistribution.length != 0">
          and(
          <foreach collection="strDistribution" item="Status" index="index" open="" separator="or" close="">
            a.SHIPPING_TYPE = #{Status}
          </foreach>
          )
        </if>
        <!-- 订单类型字段，备份表需要添加 -->
        <!--<if test="strOrderTypes != null and strOrderTypes.length != 0">-->
          <!--and(-->
          <!--<foreach collection="strOrderTypes" item="type" index="index" open="" separator="or" close="">-->
            <!--a.ORDER_TYPE = #{type}-->
          <!--</foreach>-->
          <!--)-->
        <!--</if>-->
        <if test="vproduct !=null and vproduct!=''and vproduct!='undefined'">
          and b.VPRODUCT_CODE LIKE '%'||#{vproduct}||'%'
        </if>
        <if test="productId !=null and productId!=''and productId!='undefined'">
          and b.product_code LIKE '%'||#{productId}||'%'
        </if>
        <if test="pinCode !=null and pinCode!=''and pinCode!='undefined'">
          and a.order_id in  (select hooe.Order_Id from hmall_om_order_entry hooe
          where hooe.Pin like '%'||#{pinCode}||'%')
        </if>
    </where>
    ORDER BY a.ORDER_CREATIONTIME DESC
  </select>

  <!-- 订单详情界面展示数据 -->
  <select id="selectInfoByOrderBkId" parameterType="com.hand.hmall.om.dto.OrderBk" resultMap="resultInfoMap">
    SELECT mo.order_id,
               mo.code,
               mo.order_creationtime,
               cod.meaning orderStatus,
               op.pay_time,
               us.customerid,
               us.name,
               mo.receiver_name,
               mo.receiver_mobile,
               mo.receiver_address,
               mo.receiver_country,
               mo.receiver_state,
               mo.receiver_city,
               mo.receiver_district,
               mo.receiver_zip,
               mo.receiver_phone,
               mo.is_invoiced,
               mo.invoice_type,
               mo.invoice_name,
               mo.chosen_coupon,
               mo.chosen_promotion,
               tp.meaning shipping_type,
               mo.locked,
               mo.esc_order_code,
               mo.post_fee,
               mo.epost_fee,
               mo.fix_fee,
               mo.payment_amount,
               mo.store_id,
               mo.buyer_memo,
               mo.website_id
      FROM hmall_om_order_bk mo
      LEFT JOIN hmall_om_paymentinfo op
      ON mo.order_id = op.order_id
      LEFT JOIN (SELECT mu.user_id,
      mu.customerid,
      mug.name
      FROM hmall_mst_user mu,
      hmall_mst_usergroup mug,
      hmall_mst_user_mapping mup
      WHERE mu.user_id = mup.user_id
      AND mup.usergroup_id = mug.usergroup_id) us
      ON mo.user_id = us.user_id
      left join (select va.value,va.meaning from
      sys_code_value_b va where va.code_id =
      (select b.code_id from
      sys_code_b b where b.code ='HMALL.ORDER.STATE')) cod on mo.order_status = cod.value
      left JOIN
      (select va.value,va.meaning from
      sys_code_value_b va where va.code_id =
      (select b.code_id from
      sys_code_b b where b.code ='HMALL.SHIPPING_TYPE')) tp
      on tp.value = mo.shipping_type
      where mo.order_id = #{orderId}
  </select>
  
  <select id="selectNextVersion" parameterType="java.lang.String" resultType="java.lang.Long">
    SELECT NVL(MAX(VERSION), 0) + 1
      FROM HMALL_OM_ORDER_BK BK
     WHERE BK.CODE = #{code}
  </select>

  <select id="queryByVersionAndCode" resultType="java.lang.Long" parameterType="com.hand.hmall.om.dto.OrderBk">
    SELECT oob.ORDER_ID
    FROM HMALL_OM_ORDER_BK oob
    <where>
      <if test="code != null and code != ''">
        AND oob.code = #{code}
      </if>
      <if test="version != null and version != ''">
        AND oob.version = #{version}
      </if>
    </where>
  </select>

</mapper>