<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hand.hmall.mapper.RefundOrderMapper">

    <resultMap id="RefundOrderMap" type="com.hand.hmall.dto.RefundOrder">
        <result column="AS_REFUND_ID" property="asRefundId" jdbcType="DECIMAL"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SERVICE_ORDER_ID" property="serviceOrderId" jdbcType="DECIMAL"/>
        <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL"/>
        <result column="NOTE" property="note" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="CS" property="cs" jdbcType="VARCHAR"/>
        <result column="FINISH_TIME" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="SYNCFLAG" property="syncflag" jdbcType="VARCHAR"/>
        <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="REFOUND_SUM" property="refoundSum" jdbcType="DECIMAL"/>
        <result column="RETURN_REASON" property="returnReason" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="target_table_columns">

		tgtbl.AS_REFUND_ID,
		tgtbl.CODE,
		tgtbl.STATUS,
		tgtbl.SERVICE_ORDER_ID,
		tgtbl.ORDER_ID,
		tgtbl.NOTE,
		tgtbl.MOBILE,
		tgtbl.ADDRESS,
		tgtbl.CS,
		tgtbl.FINISH_TIME,
		tgtbl.SYNCFLAG,
		tgtbl.PAY_STATUS,
		tgtbl.NAME,
		tgtbl.REFOUND_SUM,
		tgtbl.RETURN_REASON,
		tgtbl.OBJECT_VERSION_NUMBER,
		tgtbl.CREATION_DATE,
		tgtbl.CREATED_BY,
		tgtbl.LAST_UPDATED_BY,
		tgtbl.LAST_UPDATE_DATE,
		tgtbl.LAST_UPDATE_LOGIN,
		tgtbl.PROGRAM_APPLICATION_ID,
		tgtbl.PROGRAM_ID,
		tgtbl.PROGRAM_UPDATE_DATE,
		tgtbl.REQUEST_ID,
		tgtbl.ATTRIBUTE_CATEGORY
    </sql>

    <!--
    /**
     * 查询服务单对应的退款单，并设置到服务单中
     * @param so
     * @return
     */
    List<RefundOrder> selectByServiceOrder(ServiceOrder so);
    -->
    <select id="selectByServiceOrder" parameterType="com.hand.hmall.dto.ServiceOrder" resultMap="RefundOrderMap">
        SELECT
        <include refid="target_table_columns"/>
        from HMALL_AS_REFUND tgtbl WHERE tgtbl.SERVICE_ORDER_ID = #{serviceOrderId}
    </select>




    <!--事后促销使用 -->
    <select id="selectByCondition" parameterType ="java.lang.Long" resultMap="RefundOrderMap">

        SELECT
        <include refid="target_table_columns"/>
        from HMALL_AS_REFUND tgtbl WHERE tgtbl.ORDER_ID = #{orderId} AND (tgtbl.STATUS = 'FINI' OR tgtbl.STATUS = 'APPROVE')

    </select>

</mapper>
